:root{
    --c-navy: #1c3959;
    --c-navy-light: #234163;
    --c-box: linear-gradient(-222deg,var(--c-navy-light),var(--c-navy));
}

html, body {
    width:100%;height:100%
}
#masthead {
    margin-bottom: 150px;
}
main{
    width:100%;
}
section{
    min-height: 500px;
    /*position: relative;
    overflow-y: visible;*/
    position: relative;
    overflow-y: visible;
}
.portfolio-item {
    display:flex;
    flex-direction:row;
    max-width:1024px;
    width:100%;
    height:100%;
    margin:0 auto;
}
.item-info, .item-image {
    width: 50%;
    height:100%;
    padding:20px;
}

.portfolio-image {
    max-height: 100%;
    max-width: 100%;
    
}
.slide-in {
    opacity: 0;
    transition: none;
    transform: translateY(50px);
}

.item-image {
    /*position: relative;*/
}


.c-box-holder {
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:150%;
    overflow-x:hidden;
    z-index: -10;
}
.top {
    top:0;
}
.c-box {
    position: absolute;
    z-index: -10;
    background: var(--c-box);
}
#colored-float1 {
    bottom: 20%;
    left: 65%;
    height: 400px;
    width: 100%;
}

#colored-float2 {
    top: 300px;
    left: 0;
    height: 300px;
    width: 90%;
}

.mt-3 {
    margin-top: 90px;
}

#colored-float3 {
    bottom: 100px;
    left: 5%;
    margin:0 auto;
    height: 400px;
    width: 85%;
}


.btn {
    border: solid 1px transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: auto;
    letter-spacing: .188em;
    line-height: normal;
    padding: 12px 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: background .2s,color .2s,border .2s,letter-spacing .2s;
    transition-property: background, color, border, letter-spacing;
    transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease, ease, ease, ease;
    transition-delay: 0s, 0s, 0s, 0s;
    
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    text-decoration: none;
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: 700;
}
.btn-filled {
    background-color: var(--c-navy);
    border-color: transparent;
    color: #fff;
}
.btn-filled:hover {
    background: var(--c-navy-light);
}
.btn-filled-inverted {
    background: #fff;
    border: solid 1px transparent;
    color: var(--c-navy);
}
.btn-filled-inverted:hover {
    background: var(--c-navy-light);
    border: solid 1px #fff;
    color: #fff;
}
.btn-outline {
    border-style: solid;
    border-width: 1px;
    background: #fff;
    border-color: var(--c-navy);
    color: var(--c-navy-light);
}
.btn-outline:hover {
    background: #fff;
    border-color: white;
    color: var(--c-navy);
}