
.btn {
    border: solid 1px transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: auto;
    letter-spacing: .188em;
    line-height: normal;
    padding: 12px 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: background .2s,color .2s,border .2s,letter-spacing .2s;
    transition-property: background, color, border, letter-spacing;
    transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease, ease, ease, ease;
    transition-delay: 0s, 0s, 0s, 0s;
    
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    text-decoration: none;
    font-family: Open Sans,sans-serif;
    font-style: normal;
    font-weight: 700;
}
.btn-filled {
    background-color: var(--c-navy);
    border: solid 1px var(--c-navy);
    color: #fff;
}
.btn-filled:hover {
    background: var(--c-navy-light-bright);
}
.btn-filled-inverted {
    background: #fff;
    border: solid 1px transparent;
    color: var(--c-navy);
}
.btn-filled-inverted:hover {
    background: var(--c-navy-light);
    border: solid 1px #fff;
    color: #fff;
}
.btn-outline {
    border-style: solid;
    border-width: 1px;
    background: #fff;
    border-color: var(--c-navy);
    color: var(--c-navy-light);
}
.btn-outline:hover {
    background: #fff;
    border-color: white;
    color: var(--c-navy);
}

.btn-outline-inverted {
    border: solid 1px #fff;
    background: var(--c-navy);
    color: #fff;
}
.btn-outline-inverted:hover {
    background: #fff;
    border-color: white;
    color: var(--c-navy);
}